/* dashboard.css */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4; /* Sfondo leggermente grigio per contrastare il bianco dei blocchi */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.dashboard-block {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  min-height: 200px; /* Altezza minima per mantenere tutti i blocchi della stessa dimensione */
  color: #2980b9; /* Colore primario */
}

.dashboard-block:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.dashboard-block h2 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 16px;
  color: inherit; /* Usa il colore primario del blocco */
}

.dashboard-block p {
  margin: 0;
  font-size: 18px;
  color: inherit; /* Usa il colore primario del blocco */
}