body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  border-radius: 20px;
}

h1 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table th {
  background-color: #2c3e50;
  color: #fff;
}

.custom-table tbody tr {
  transition: background-color 0.3s ease;
}

.custom-table tbody tr:hover {
  background-color: #f5f5f5;
}

.btn-group {
  display: flex;
}

.action-btn {
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s;
}

.edit {
  background-color: #2980b9;
  color: white;
}

.delete {
  background-color: #e74c3c;
  color: white;
}

.action-btn:hover {
  opacity: 0.8;
}

.spacer {
  width: 5px;
  display: inline-block;
}

.action-btn.delete {
  background-color: #e74c3c;
}

.action-btn:hover {
  opacity: 0.9;
}

.inline-form {
  display: inline;
}

h1 {
  color: #2980b9;
}

.action-btn:active {
  transform: scale(0.95);
}
